/* border */
.tarik {
    background-color: white;
}

.tarik h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.tarik p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.abb {
    text-align: center;
}