    .produk-item {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .produk-img {
        max-width: 100%;
        height: auto;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .card-subtitle {
        font-size: 16px;
        color: #888;
        margin-bottom: 10px;
    }

    .btn {
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        text-decoration: none;
        font-size: 14px;
    }

    .btn:hover {
        background-color: #0069d9;
    }
