
/* Card Form */
.card {
  background-color: #f1f1f1;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-header,
.card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #1e1e1e;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

.card-body {
  font-family: "Roboto", sans-serif;
  color: #1e1e1e;
}

.form-control:focus {
  box-shadow: none;
  border-color: #1e1e1e;
}

.btn-primary {
  background-color: #1e1e1e;
  border: none;
}

.btn-primary:hover {
  background-color: #000;
}

/* Table Feedback */
.table {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table thead th {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #1e1e1e;
  background-color: #f1f1f1;
  border: none;
}

.table tbody td {
  font-family: "Roboto", sans-serif;
  color: #1e1e1e;
  vertical-align: middle;
}

