/* Style untuk footer */
footer {
  font-family: Arial, sans-serif;
}

.social-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
}

.social-icon:hover {
  transform: scale(1.2);
}

footer h5 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

footer p {
  font-size: 16px;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }

  footer h5 {
    margin-bottom: 20px;
  }
}
