/* content 1 */
#hero1 {
  width: 100%;
  height: 100vh ;
background-color:aqua;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #hero1 {
    background-attachment: fixed;
  }
}

#hero1:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero1 .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero1 h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero1 h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero1 h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero1 h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero1 .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero1 .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}



/* Header1 */
.header1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.animate__backInDown {
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  from { margin-top: -100%; }
  to { margin-top: 20%; }
}


.header1 h1 {
  font-size: 48px;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
}

.header1 h1::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 100%;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
  z-index: -1;
  transition: height 0.3s ease-in-out;
}

.header1 h1:hover::before {
  height: 100%;
}

.header1 .gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header1 .gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.header1 .gallery img:hover {
  transform: scale(1.1);
}

/* border */
.tarik {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.tarik h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tarik p {
  font-size: 18px;
  line-height: 1.5;
}

/* corousel 1 */

/* sejarah */
.card {
  position: relative;
  width: 250px;
  height: 250px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card_content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: #131313;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: 0.25s;
}

/* bestseller */
/* Style untuk section bestseller */

/* Style untuk card bestseller */
