/* Navbar */
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 1.5rem;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3e%3cpath stroke="rgba(0, 0, 0, 0.5)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
}

/* Main content */
#product-image {
    cursor: zoom-in;
}

.img-clickable:hover {
    opacity: 0.8;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

.text-muted {
    font-size: 1.1rem;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 2rem 0;
}

h3 {
    font-size: 2rem;
}

.btn-primary {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Modal */
.modal-xl {
    max-width: 90vw;
}

.modal-title {
    font-size: 2rem;
}